langchain
langchain-community
langchain-core
langchain-huggingface
langgraph
pymupdf
sentence-transformers
faiss-cpu
huggingface_hub
python-dotenv
openai
fpdf2
streamlit
torch
fastapi
uvicorn
python-multipart
pymongo
